*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #22343d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    font-family: inherit;
    margin: 0 auto;
    padding: 0;
    border: none;
    display: block;
}

.container {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 20px;
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1150px;
        padding: 0 20px;
    }
}
