/* Footer */
.footer {
    margin-bottom: 100px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.footer-logo {
    padding: 0;
    margin: 0;
    margin-bottom: 22px;
}

.footer-link-wrap {
    display: flex;
    gap: 16px;
}

.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #edfffc;
}

.footer-link-icon {
    fill: transparent;
    stroke-width: 2px;
    stroke: #02897a;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
}

.footer-text-form {
    max-width: 280px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.footer-input-wrap {
    position: relative;
    margin-bottom: 25px;
}

.footer-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    outline: transparent;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
    padding: 10px 43px 10px 42px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.footer-input-icon {
    fill: #02897A;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
}

.footer-text-made {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
}

.footer-btn {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    padding: 11px 16px;
    border-radius: 4px;
    background-color: #02897a;
}