*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #22343d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
}

button {
    cursor: pointer;
    font-family: inherit;
    margin: 0 auto;
    padding: 0;
    border: none;
    display: block;
}

.container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

/* HEADER */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
    margin-right: 237px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-top: 22px;
    padding-bottom: 22px;

}

.header-nav {
    display: flex;
}

.nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-list-item {}

.nav-link {
    font-weight: 400;
    line-height: 1.75;
    padding-top: 26px;
    padding-bottom: 26px;
    display: block;
}

.active {
    font-weight: 600;
}

.header-list-btn {
    display: flex;
    gap: 21px;
}

.item-btn {}

.header-btn-sign {
    font-weight: 600;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 105px;
    height: 42px;
    background-color: #fff;
}

.header-btn-signup {
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    border: none;
    width: 113px;
    height: 42px;
    background-color: #02897a;
}

/* HERO */

.hero {
    padding-top: 25px;
    padding-bottom: 100px;
}

.hero .container {
    display: flex;
    gap: 35px;
}

.hero-text-container {
    padding: 112px 0;
}

.hero-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    max-width: 400px;
    margin-bottom: 18px;
}

.hero-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 45px;
}

.hero-list-btn {
    display: flex;
    gap: 30px;
    align-items: center;
}

.hero-btn {
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    padding: 15px 42px;
    background-color: #02897A;
    border: none;
}

.hero-btn-watch {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background: transparent;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 9px;
}

.hero-icon-btn {
    fill: #02897A;
}

/* SPECIFICALLY  */

.section-specifically {
    padding-bottom: 100px;
}

.specifically-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    max-width: 525px;
    margin: 0 auto 50px;

}

.specifically-list {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.specifically-list-item {
    width: calc((100% - 30px * 3) / 4);
}

.specifically-item-subtitle {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 13px;
}

.specifically-item-text {
    font-size: 16px;
    line-height: 1.62;
}

.specifically-btn {
    font-weight: 700;
    color: #fff;
    border-radius: 4px;
    background-color: #02897a;
    border: none;
    padding: 15px 33px;
}

.specifically-box {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 26px;
}

.specifically-icon {
    fill: #fff;
}

.specifically-box-first {
    background-color: #02897A;
}

.specifically-box-second {
    background-color: #4d8dff;
}

.specifically-box-third {
    background-color: #740a76;
}

.specifically-box-four {
    background-color: #f03e3d;
}

/* MANAGEMENT */

.section-management {
    padding-bottom: 100px;
}

.section-management .container {
    display: flex;
    gap: 84px;
}

.management-text-container {
    padding: 41px 0;
}

.management-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    max-width: 224px;
}

.management-title span {
    font-weight: 600;
    color: inherit;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
}


.management-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 30px;

}

.management-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.management-item-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 12px;
}

.management-item-text {
    line-height: 1.63;
}

/* CUSTOMER SUPPORT */

.section-customer {
    padding-bottom: 100px;
}

.section-customer .container {
    display: flex;
    gap: 84px;
}

.customer-text-container {
    padding: 41px 0;
}

.customer-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
    max-width: 305px;
}

.customer-title span {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
}

.customer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 30px;
}

.customer-list-item {
    display: flex;
    gap: 30px;
    align-items: center;
}

.customer-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.customer-list-text {
    font-size: 16px;
    line-height: 1.63;
    max-width: 386px;
}

.customer-icon-box {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.customer-icon {
    fill: #fff;
}

.customer-box-first {
    background-color: #f90;
}

.customer-box-second {
    background-color: #f03e3d;
}

.customer-box-third {
    background-color: #4d8dff;
}

/* COLLABORATIVE */

.section-collaborative {
    padding-bottom: 150px;
}

.section-collaborative .container {
    display: flex;
    gap: 84px;
}

.collaboration-text-container {
    padding: 68px 0 41px;
}

.collaboration-title span {
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    margin-bottom: 8px;
}

.collaboration-title {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    max-width: 226px;
}

.collaboration-text {
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 7px;
}

.collaboration-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.collaboration-list-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 12px;
}

.collaboration-list-text {
    font-size: 16px;
    line-height: 1.63;
}

/* EXPERTS */

.section-experts {
    padding-bottom: 100px;
}

.experts-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.experts-text {
    font-weight: 500;
    line-height: 1.625;
    text-align: center;
    max-width: 542px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.experts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 25px 100px;
    margin-bottom: 50px;
    padding: 0 97px;

}

.experts-list-item {
    display: flex;
    gap: 20px;
    align-items: center;
    width: calc((100% - 100px) / 2);

}

.experts-list-text {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    background-color: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    border-radius: 25px;
    padding: 13px 20px;
    min-width: 281px;
}

.experts-btn {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    padding: 15px 31px;
    border: none;
    background-color: #02897a;
}

/* STRATEGIES */

.section-strategies {
    padding-bottom: 171px;
}


.strategies-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
}

.strategies-text {
    font-weight: 500;
    line-height: 1.63;
    margin-bottom: 40px;
    max-width: 465px;
}

.strategies-list {
    display: flex;
    gap: 30px;
}

.strategies-list-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    width: calc((100% - 60px) / 3);
}

.strategies-list-item:nth-child(2) .strategies-item-subtitle {
    color: #02897a;
}

.strategies-item-img {
    overflow: hidden;
    max-width: 100%;
}

.strategies-item-text {
    line-height: 1.75;
    margin-bottom: 12px;
}

.strategies-item-text span {
    font-weight: 700;
}

.strategies-item-subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    max-width: 296px;
}

.strategies-card-text-container {
    padding: 24px 27px 40px;
}

/* PRICE TABLE */

.section-price {
    padding-bottom: 100px;
}

.price-title {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
    text-align: center;
}

.price-text {
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}

.price-list {
    display: flex;
    gap: 72px;
}

.price-list-item {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 8px;
    width: calc((100% - 2 * 72px) / 3);
    padding-top: 32px;
    padding-bottom: 32px;
}

.price-list-item:nth-child(2) {
    background-color: #02897A;
}

.price-item-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    text-align: center;
    margin-bottom: 8px;
}

.price-item-descr {
    font-family: "Montserrat", sans-serif;
    line-height: 2.5;
    text-align: center;
    margin-bottom: 16px;
}

.price-item-value-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 16px;
}

.price-item-value {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    color: #02897a;
}

.price-item-currency {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
    margin-bottom: 4px;
}

.price-item-period {
    font-family: "Montserrat", sans-serif;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.price-item-period.standard {
    color: #e0e0e0;
}

.price-points-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 16px;
}

.price-item-points:last-child .price-points-text {
    margin-bottom: 0;
}

.price-list-points {
    margin-bottom: 30px;
}

.price-item-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    padding: 11px 19px;
    background-color: #02897a;
}

.price-item-btn.standart {
    background-color: #fff;
    color: #02897a;
}

.standard {
    color: #fff;
}

/* REVIEWS */

.section-reviews {
    padding-bottom: 100px;
}

.reviews-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78125;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 10px;
}

.reviews-text {
    font-weight: 500;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    max-width: 537px;
    margin: 0 auto 40px;
}

.reviews-list {
    display: flex;
    gap: 65px;
}

.reviews-list-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    padding: 28px 26px;
    width: calc((100% - 64px * 2) / 3);
}

.reviews-item-text {
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    margin-bottom: 16px;
}

.reviews-item-profile {
    display: flex;
    align-items: center;
    gap: 14px;
}

.reviews-item-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.reviews-item-position {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71429;
    letter-spacing: 0.01em;
    color: #252b42;
}

/* SUBSCRIBE */
.section-subscribe {
    padding-bottom: 100px;
}

.subscribe-container {
    background-color: #02897a;
    margin: 0 auto;
    border-radius: 32px;
    width: 968px;
    display: flex;
    gap: 80px;
}

.subscribe-item {}

.subscribe-text {
    padding: 49px 0 56px 51px;
}

.subscribe-title {
    max-width: 440px;
    margin-bottom: 46px;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
}

.subscribe-btn {
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    border-radius: 8px;
    padding: 10px 24px;
    margin: 0;
}